.home-search {
  width: 60px;
  border: none;
  text-align: center;
  background-color: #cccccc;
}
.failure-container {
  display: flex;
  flex-direction: column;
}
.failure-img {
  height: 300px;
  width: 500px;
}
.retry-container {
  text-align: center;
}
.videos-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.item {
  list-style-type: none;
  display: flex;
  flex-direction: column;
}
.img {
  margin: 10px;
  height: 200px;
  width: 250px;
}
.video-details-card {
  display: flex;
  justify-content: space-between;
}
.profile {
  margin: 2px 20px;
  height: 50px;
  width: 50px;
}
.name {
  color: #475569;
  font-size: 15px;
}
.linksssss {
  text-decoration: none;
}
