.details {
  display: flex;
  justify-content: space-between;
}
.video-details {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.loader-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
}
.details-profile {
  display: flex;
  margin-top: 20px;
}
.profile-img {
  height: 100px;
  width: 100px;
  margin-right: 20px;
}
.likes {
  margin: 8px 30px;
}
.button {
  outline: none;
  background-color: transparent;
  border: none;
}
